<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>

<body>
    <div>
        <div id="preview" style="display: inline-block;">
            <canvas class="mt-3 certificate" id="myCan" width="800px" height="600px">
            </canvas>
        </div>
        <img src="<%= img.image %>" alt="Certificate" id="scream" hidden width="800px" height="600px">
        <a id="link" onclick="downloadMe()" class="btn btn-primary btn-block" href="#" role="button">Download
            Certificate</a>
        <a id="link" onclick="getCanvas()" class="btn btn-primary btn-block" href="#" role="button">Download
            Canvas</a>
    </div>
    <!-- <div id="canvasImg"></div> -->
</body>
<script>
    window.onload = function () {
        var c = document.getElementById('myCan');
        var ctx = c.getContext("2d");
        // var img = document.getElementById("scream");
        var img = document.createElement('img');
        img.crossOrigin = 'anonymous';
        img.src = '<%= img.image %>';
        // img.src =
        //     'https://s3-h2s-v2.s3.ap-south-1.amazonaws.com/2022-08-05T11%3A53%3A25.174Z-download%20%282%29.jpg';
        img.crossOrigin = "anonymous";
        img.onload = function (e) {
            ctx.imageSmoothingEnabled = true;
            ctx.drawImage(img, 0, 0, 800, 600)
            // setting Variables
            let fonts = '<%=img.variableData.fonts%>';
            fonts = fonts.split(',');
            let colors = '<%=img.variableData.colors%>';
            colors = colors.split(',(');
            let aligns = '<%=img.variableData.aligns%>';
            aligns = aligns.split(',');
            let sizes = '<%=img.variableData.sizes%>';
            sizes = sizes.split(',');
            let lefts = '<%=img.variableData.lefts%>';
            lefts = lefts.split(',');
            let tops = '<%=img.variableData.tops%>';
            tops = tops.split(',');
            let len = '<%=img.variableData.fonts.length%>';
            len = parseInt(len);
            for (let i = 0; i < len; i++) {
                console.log(fonts[i]);
                ctx.font = fonts[i];
                let color = "rgb" + "(" + colors[i].replace('(', "").replace(')', "") + ")";
                console.log(color);
                ctx.fillStyle = color;
                ctx.textAlign = aligns[i];
                ctx.fillText("<%=user.name%>", lefts[i], tops[i]);
            }
        };
    };
    var cd = document.getElementById('myCan');
    // link.setAttribute('href', );
    // $('meta[property=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
    //     "image/octet-stream"));
    // $('meta[property=og\\:image]').attr('content', 'http://myweb.com/image.jpg');
    $('meta[property=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
        "image/octet-stream"));
    $('meta[name=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
        "image/octet-stream"));
    // console.log();
</script>

<script>
    function downloadMe() {
        // Download
        var link = document.getElementById('link');
        var c = document.getElementById('myCan');
        c.crossOrigin = "anonymous";
        link.setAttribute('download', 'Hack2Skill-Certificate.png');
        link.setAttribute('href', c.toDataURL("image/png"));
        // link.click();
    }
</script>

<script>
    function getCanvas() {
        console.log("Function Called");
        html2canvas($('#preview'), {
            onrendered: function (canvas) {
                var a = document.createElement('a');
                var canvasImg = canvas.toDataURL("image/jpg");
                canvasImg.crossOrigin = "anonymous";
                // $('#canvasImg').html('<img src="' + canvasImg + '" alt="">');
                a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
                a.download = 'Hack2Skill-Certificate.jpg';
                a.click();
            }
        });
    }
</script>

</html>