<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container">
        <input id="user" value="<%=img%>" hidden/>
        <div id="yo">
            <% src= img.image%>
            <div class="card pCard" id="card" style="width:800px; height:600px;">
                <img id="bg" name="bg"src="<%= src%>" style="width:800px; height:600px;" />
                <% variableData = img.variableData%>
                <input id="len" value="<%=variableData.variables.length%>" class="d-none"/>
                <input id="aligns" value="<%=variableData.aligns%>" class="d-none"/>
                <% for(i=0; i<variableData.variables.length;i++){%>
                   <div style="position: absolute; white-space: nowrap; color: rgb<%=variableData.colors[i]%>; font-Family: <%=variableData.fonts[i]%>;
                   top: <%=(variableData.tops[i]+15)%>px; left: <%=variableData.lefts[i]%>px;
                   font-size: <%=variableData.sizes[i]%>  " id="<%=i%>"><% currentVar = variableData.variables[i]%><%=currentVar%></div> 
                <%}%>
            </div>
        </div>
        <div class="actions">
            <div class="genCertificates circle" onclick="saveDiv()"><i class="fa-solid fa-download"></i></div>
        </div>

    </div>
    <script>
        let user = document.getElementById('user').value;
        let len = document.getElementById('len').value;
        for(let i=0; i<len;i++){
            console.log(i)
            let currentVar = document.getElementById(i);
            let user1= user.split('variableData');
            user1 = user1[0].split(',')
            console.log(user1);
            for(let j=0;j<user1.length;j++){
                let u1 = user1[j].split(':');
                console.log(u1[0]);
                console.log(currentVar.innerHTML);
                if(u1[0].replace(/ /g,"") == currentVar.innerHTML){
                    currentVar.innerHTML = u1[1].replace(/'/g,"");
                }
            }
            $( document ).ready(function() {
                let aligns = document.getElementById('aligns').value.split(',');
                if(aligns[i] =='center'){
                    console.log(aligns[i])
                    var leftVal = parseInt(currentVar.style.left, 10);
                    currentVar.style.left = (leftVal - (currentVar.clientWidth/2 +5)) + "px";
                }else if(aligns[i] =='right'){
                    console.log(aligns[i])
                    // Aligned Right
                    var leftVal = parseInt(currentVar.style.left, 10);
                    currentVar.style.left = (leftVal - (currentVar.clientWidth)) + "px";
                }
                });
        }
    </script>
    <script>
        function saveDiv(){
            console.log("Function Called");
        html2canvas($('#card'), {
            onrendered: function (canvas) {
                var a = document.createElement('a');
                var canvasImg = canvas.toDataURL("image/jpg");
                canvasImg.crossOrigin = "anonymous";
                // $('#canvasImg').html('<img src="' + canvasImg + '" alt="">');
                a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
                a.download = 'Hack2Skill-Certificate.jpg';
                a.click();
            }
        });
        }
     </script>
</body>
</html>