<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="container cert__main__container">
        <div id="preview" class="cert__display">
            <canvas class="mt-3 certificate canvas__display" id="myCan" width="800px" height="600px">
            </canvas>
        </div>
        <img src="<%=img.variableData.image%>"  alt="Certificate" id="scream" hidden>
        <div class="cert__share__conatiner ">
            <div class="cert__share">
                <h2>Congratulations</h2>
                <lord-icon
                    src="https://cdn.lordicon.com/tqywkdcz.json"
                    trigger="loop"
                    style="width:150px;height:150px">
                </lord-icon>
                <div class="text-muted"> Yay! You won a Certificate. Click the link below to download it.</div>
                <a id="link" onclick="getCanvas()" class="genCertificates" href="#" role="button">Download &nbsp;<i class="fa-solid fa-download"></i></a>
                <!-- <div class="text-muted"> Now genrate and download certificates eaily with Hack2skill.</div> -->
                <div style="width: 100%; margin-bottom: 10px; margin-top:10px ;" class="text-muted"><hr/></div>
                <h4>Join our discord community   </h4>
                <a class="genCertificates" href="https://discord.gg/ZAVqeC9j" role="button" style="display: flex; align-items: center; justify-content: center; flex-direction: row;"><img src="https://img.icons8.com/ios-filled/50/ffffff/discord-logo.png" style="width: 20px; height:20px; "/> &nbsp; Join Now</a>
            </div>
        </div>
    </div>
    <!-- <div id="canvasImg"></div> -->
</body>
<script>
    window.onload = function () {
        var c = document.getElementById('myCan');
        var ctx = c.getContext("2d");
        // var img = document.getElementById("scream");
        var img = document.createElement('img');
        img.crossOrigin = 'anonymous';
        img.src = '<%=img.variableData.image%>';
        console.log('<%=img.variableData.variables%>');
        img.crossOrigin = "anonymous";
        img.onload = function (e) {
            console.log("inhere")
            ctx.imageSmoothingEnabled = true;
            ctx.drawImage(img, 0, 0, 800, 600)
            // setting Variables
            let fonts = '<%=img.variableData.fonts%>';
            fonts = fonts.split(',');
            let colors = '<%=img.variableData.colors%>';
            colors = colors.split(',(');
            let aligns = '<%=img.variableData.aligns%>';
            aligns = aligns.split(',');
            let sizes = '<%=img.variableData.sizes%>';
            sizes = sizes.split(',');
            let lefts = '<%=img.variableData.lefts%>';
            lefts = lefts.split(',');
            let tops = '<%=img.variableData.tops%>';
            tops = tops.split(',');
            let variables = '<%=img.variableData.variables%>';
            variables = variables.split(',');
            let len = '<%=img.variableData.fonts.length%>';
            len = parseInt(len);
            for (let i = 0; i < len; i++) {
                ctx.font = sizes[i]+" "+fonts[i].replace(/&#34;/g,"");
                let color = "rgb" + "(" + colors[i].replace('(', "").replace(')', "") + ")";
                ctx.fillStyle = color;
                ctx.textAlign = aligns[i];
                let top =parseFloat(tops[i])+  parseInt(sizes[i].replace(/px/g,""));
                console.log( variables);
                if(variables[i]==='name'){
                    ctx.fillText("<%=user.name%>", lefts[i], top +35);
                }
                if(variables[i]==='certificateId'){
                    ctx.fillText("<%=user.certificateId%>", lefts[i], top+35);
                }
                if(variables[i]==='dateOfIssue'){
                    let date = "<%=user.dateOfIssue%>";
                    ctx.fillText( date.slice(0,15), lefts[i], top +35);
                }
                console.log("len:", ctx.canvas.clientWidth)
            }
        };
    };
    var cd = document.getElementById('myCan');
    // link.setAttribute('href', );
    // $('meta[property=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
    //     "image/octet-stream"));
    // $('meta[property=og\\:image]').attr('content', 'http://myweb.com/image.jpg');
    $('meta[property=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
        "image/octet-stream"));
    $('meta[name=og\\:image]').attr('content', cd.toDataURL("image/png").replace("image/png",
        "image/octet-stream"));
    // console.log();
</script>

<script>
    function downloadMe() {
        // Download
        var link = document.getElementById('link');
        var c = document.getElementById('myCan');
        c.crossOrigin = "anonymous";
        link.setAttribute('download', 'Hack2Skill-Certificate.png');
        link.setAttribute('href', c.toDataURL("image/png"));
        // link.click();
    }
</script>

<script>
    function getCanvas() {
        console.log("Function Called");
        // html2canvas($('#preview'), {
        //     onrendered: function (canvas) {
        //         var a = document.createElement('a');
        //         var canvasImg = canvas.toDataURL("image/jpg");
        //         canvasImg.crossOrigin = "anonymous";
        //         // $('#canvasImg').html('<img src="' + canvasImg + '" alt="">');
        //         a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        //         a.download = 'Hack2Skill-Certificate.jpg';
        //         a.click();
        //     }
        // });
        var link = document.getElementById('link');
            var c = document.getElementById('myCan');
            link.setAttribute('download', 'Hack2skill-Certificate.png');
            link.setAttribute('href', c.toDataURL("image/png").replace("image/png", "image/octet-stream"));
    }
</script>

</html>